@import "../../../variables";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    background-color: $primary-color;
    color: $primary-text;

    .footer-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        flex: 1;
        height: 100%;

        .socials {
            display: flex;
            gap: 1.5rem;

            a {
                color: $primary-text;

                &:hover {
                    color: white;
                }
            }

            svg {
                width: 2.25rem;
                height: 2.25rem;
            }
        }

        .copyright {
            text-align: center;
        }

        .logo {
            cursor: pointer;
        }

        .place {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-weight: 700;
        }
    }

    .divisor {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-around;

        .divisor {
            display: flex;
            width: 0.2rem;
            height: 9.25rem;
            background-color: $primary-text;
            border-radius: 50%;
        }

        .right-section {
            gap: 1.5rem;
        }
    }
}
