<div class="projects-page">
    <div class="side-menu-icon" [class.opened-menu-icon]="menuIsVisible">
        <i class="material-icons" (click)="toggleMenuVisibility()">
            {{ menuIsVisible ? "close" : "menu" }}
        </i>
    </div>
    <aside class="side-menu" [class.opened-menu]="menuIsVisible">
        <nav>
            <ul>
                @for (item of menuOptions; track $index) {
                <li (click)="closeMenu()">{{ item }}</li>
                }
            </ul>
        </nav>
    </aside>

    <main class="main">Conteúdo</main>
</div>
