@import "https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap";
@import "variables";

* {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

main {
    height: calc(100vh - $header-height);
    background-color: $background-color;
    color: $primary-text;
    padding: 1.25rem 2rem;

    @media screen and (min-width: 768px) {
        padding: 1.25rem 5rem;
    }
}
